<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
  </head>
  <body>
    <h1>Welcome to the quiz</h1>
    <img src='static/banner.jpg' height='320' >

  <form>
    <p>What is the capital of India?</p>
    <label>
      <input type="radio" name='answer' value='option1'
      Option A: Delhi 
    </label><br>
    <label>
      <input type="radio" name='answer' value='option2'
      Option B: Mumbai 
    </label><br>
    <label>
      <input type="radio" name='answer' value='option3'
      Option C: Chennai 
    </label><br>
    <label>
      <input type="radio" name='answer' value='option4'
      Option D: Punjab 
    </label><br>
    <button type="button" onclick='SubmitAnswer()'>Submit</button>
    
  </form>

  </body>
</html>